/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */

/* }  */
/* .contain{
width: 100vw;
background-image: linear-gradient(90deg, #ece381 0%, rgb(69, 199, 199)  35%, #fafeff 100%);
}
.grid{
  display: grid;
  grid-template-columns: repeat(2, 30%);

} */